<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".DailyFilmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyFilm"
        tools:targetApi="31">
        <activity
            android:name=".presentation.DailyFilmActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.totalfilm.TotalFilmComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_total_compose"
            android:theme="@style/Theme.DailyFilm" />
        <activity
            android:name=".presentation.searchfilm.SearchFilmComposeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.playfilm.PlayFilmActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.totalfilm.TotalFilmActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.uploadfilm.UploadFilmComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyFilm" />
        <activity
            android:name=".presentation.calendar.CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.DailyFilm.Calendar" />
        <activity
            android:name=".presentation.selectvideo.SelectVideoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.trimvideo.TrimVideoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.settings.compose.SettingComposeActivity"
            android:exported="false" />
    </application>

</manifest>